@import "../vendor/ckeditor/document";
@import "../vendor/ckeditor/dark-layout";

#save-form{
   .card {
      .card-header {
         padding-top: 15px;
         padding-bottom: 15px;
      }

      .card-body {
         padding: 0;
      }
   }
}



